@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

span#nav_main {
  font-family: 'Pokemon Solid', sans-serif;
  color: #FFDE00;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.loading-spinner {
  animation: rotation 1s linear infinite;
  animation-iteration-count: infinite;
}

.wave {
  position: relative;
  -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, .2));
}

.wave span {
  position: relative;
  display: inline-block;
  font-size: 2em;
  text-transform: uppercase;
  animation: animate 2s ease-in-out infinite;
  animation-delay: calc(.1s*var(--i));
}

@keyframes animate {
  0% {
      transform: translateY(0px);
  }

  20% {
      transform: translateY(-20px);
  }

  40%,
  100% {
      transform: translateY(0px);
  }
}